.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #968d8d;

  .item {
    display: flex;
    font-size: 18px;
    gap: 20px;
  }
}
